<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>soundFingerZero</string>
	<string>soundFingerOne</string>
	<string>soundFingerTwo</string>
	<string>soundFingerThree</string>
	<string>soundFingerFour</string>
	<string>soundFingerFive</string>
	<string>soundFingerSix</string>
	<string>soundFingerSeven</string>
	<string>soundFingerEight</string>
	<string>soundFingerNine</string>
</array>
</plist>
