<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>drawNumberZero</string>
	<string>drawNumberOne</string>
	<string>drawNumberTwo</string>
	<string>drawNumberThree</string>
	<string>drawNumberFour</string>
	<string>drawNumberFive</string>
	<string>drawNumberSix</string>
	<string>drawNumberSeven</string>
	<string>drawNumberEight</string>
	<string>drawNumberNine</string>
</array>
</plist>
