<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>выдра</key>
	<dict>
		<key>name</key>
		<array>
			<string>выдра0</string>
			<string>выдра1</string>
			<string>выдра2</string>
			<string>выдра3</string>
			<string>выдра4</string>
			<string>выдра5</string>
			<string>выдра6</string>
			<string>выдра7</string>
			<string>выдра8</string>
			<string>выдра9</string>
			<string>выдра10</string>
		</array>
	</dict>
	<key>дельфин</key>
	<dict>
		<key>name</key>
		<array>
			<string>дельфин0</string>
			<string>дельфин1</string>
			<string>дельфин2</string>
			<string>дельфин3</string>
			<string>дельфин4</string>
			<string>дельфин5</string>
			<string>дельфин6</string>
			<string>дельфин7</string>
			<string>дельфин8</string>
			<string>дельфин9</string>
			<string>дельфин10</string>
		</array>
	</dict>
	<key>енот</key>
	<dict>
		<key>name</key>
		<array>
			<string>енот0</string>
			<string>енот1</string>
			<string>енот2</string>
			<string>енот3</string>
			<string>енот4</string>
			<string>енот5</string>
			<string>енот6</string>
			<string>енот7</string>
			<string>енот8</string>
			<string>енот9</string>
			<string>енот10</string>
		</array>
	</dict>
	<key>заяц</key>
	<dict>
		<key>name</key>
		<array>
			<string>заяц0</string>
			<string>заяц1</string>
			<string>заяц2</string>
			<string>заяц3</string>
			<string>заяц4</string>
			<string>заяц5</string>
			<string>заяц6</string>
			<string>заяц7</string>
			<string>заяц8</string>
			<string>заяц9</string>
			<string>заяц10</string>
		</array>
	</dict>
	<key>коала</key>
	<dict>
		<key>name</key>
		<array>
			<string>коала0</string>
			<string>коала1</string>
			<string>коала2</string>
			<string>коала3</string>
			<string>коала4</string>
			<string>коала5</string>
			<string>коала6</string>
			<string>коала7</string>
			<string>коала8</string>
			<string>коала9</string>
			<string>коала10</string>
		</array>
	</dict>
	<key>кот</key>
	<dict>
		<key>name</key>
		<array>
			<string>кот0</string>
			<string>кот1</string>
			<string>кот2</string>
			<string>кот3</string>
			<string>кот4</string>
			<string>кот5</string>
			<string>кот6</string>
			<string>кот7</string>
			<string>кот8</string>
			<string>кот9</string>
			<string>кот10</string>
		</array>
	</dict>
	<key>лис</key>
	<dict>
		<key>name</key>
		<array>
			<string>лис0</string>
			<string>лис1</string>
			<string>лис2</string>
			<string>лис3</string>
			<string>лис4</string>
			<string>лис5</string>
			<string>лис6</string>
			<string>лис7</string>
			<string>лис8</string>
			<string>лис9</string>
			<string>лис10</string>
		</array>
	</dict>
	<key>мышь</key>
	<dict>
		<key>name</key>
		<array>
			<string>мышь0</string>
			<string>мышь1</string>
			<string>мышь2</string>
			<string>мышь3</string>
			<string>мышь4</string>
			<string>мышь5</string>
			<string>мышь6</string>
			<string>мышь7</string>
			<string>мышь8</string>
			<string>мышь9</string>
			<string>мышь10</string>
		</array>
	</dict>
	<key>поросенок</key>
	<dict>
		<key>name</key>
		<array>
			<string>поросенок0</string>
			<string>поросенок1</string>
			<string>поросенок2</string>
			<string>поросенок3</string>
			<string>поросенок4</string>
			<string>поросенок5</string>
			<string>поросенок6</string>
			<string>поросенок7</string>
			<string>поросенок8</string>
			<string>поросенок9</string>
			<string>поросенок10</string>
		</array>
	</dict>
	<key>собака</key>
	<dict>
		<key>name</key>
		<array>
			<string>собака0</string>
			<string>собака1</string>
			<string>собака2</string>
			<string>собака3</string>
			<string>собака4</string>
			<string>собака5</string>
			<string>собака6</string>
			<string>собака7</string>
			<string>собака8</string>
			<string>собака9</string>
			<string>собака10</string>
		</array>
	</dict>
</dict>
</plist>
