<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>рука</key>
	<dict>
		<key>name</key>
		<string>рука</string>
		<key>image</key>
		<string>рука</string>
		<key>firstSyllable</key>
		<string>ру</string>
		<key>secondSyllable</key>
		<string>ка</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>гуси</key>
	<dict>
		<key>name</key>
		<string>гуси</string>
		<key>image</key>
		<string>гуси</string>
		<key>firstSyllable</key>
		<string>гу</string>
		<key>secondSyllable</key>
		<string>си</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>рыба</key>
	<dict>
		<key>name</key>
		<string>рыба</string>
		<key>image</key>
		<string>рыба</string>
		<key>firstSyllable</key>
		<string>ры</string>
		<key>secondSyllable</key>
		<string>ба</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>часы</key>
	<dict>
		<key>name</key>
		<string>часы</string>
		<key>image</key>
		<string>часы</string>
		<key>firstSyllable</key>
		<string>ча</string>
		<key>secondSyllable</key>
		<string>сы</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>дыня</key>
	<dict>
		<key>name</key>
		<string>дыня</string>
		<key>image</key>
		<string>дыня</string>
		<key>firstSyllable</key>
		<string>ды</string>
		<key>secondSyllable</key>
		<string>ня</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>муха</key>
	<dict>
		<key>name</key>
		<string>муха</string>
		<key>image</key>
		<string>муха</string>
		<key>firstSyllable</key>
		<string>му</string>
		<key>secondSyllable</key>
		<string>ха</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>весы</key>
	<dict>
		<key>name</key>
		<string>весы</string>
		<key>image</key>
		<string>весы</string>
		<key>firstSyllable</key>
		<string>ве</string>
		<key>secondSyllable</key>
		<string>сы</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>луна</key>
	<dict>
		<key>name</key>
		<string>луна</string>
		<key>image</key>
		<string>луна</string>
		<key>firstSyllable</key>
		<string>лу</string>
		<key>secondSyllable</key>
		<string>на</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>заяц</key>
	<dict>
		<key>name</key>
		<string>заяц</string>
		<key>image</key>
		<string>заяц</string>
		<key>firstSyllable</key>
		<string>за</string>
		<key>secondSyllable</key>
		<string>яц</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>игла</key>
	<dict>
		<key>name</key>
		<string>игла</string>
		<key>image</key>
		<string>игла</string>
		<key>firstSyllable</key>
		<string>и</string>
		<key>secondSyllable</key>
		<string>гла</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
</dict>
</plist>
