<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>еда</key>
	<dict>
		<key>name</key>
		<string>еда</string>
		<key>image</key>
		<string>еда</string>
		<key>firstSyllable</key>
		<string>е</string>
		<key>secondSyllable</key>
		<string>да</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>ежи</key>
	<dict>
		<key>name</key>
		<string>ежи</string>
		<key>image</key>
		<string>ежи</string>
		<key>firstSyllable</key>
		<string>е</string>
		<key>secondSyllable</key>
		<string>жи</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>ива</key>
	<dict>
		<key>name</key>
		<string>ива</string>
		<key>image</key>
		<string>ива</string>
		<key>firstSyllable</key>
		<string>и</string>
		<key>secondSyllable</key>
		<string>ва</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>оса</key>
	<dict>
		<key>name</key>
		<string>оса</string>
		<key>image</key>
		<string>оса</string>
		<key>firstSyllable</key>
		<string>о</string>
		<key>secondSyllable</key>
		<string>са</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>ужи</key>
	<dict>
		<key>name</key>
		<string>ужи</string>
		<key>image</key>
		<string>ужи</string>
		<key>firstSyllable</key>
		<string>у</string>
		<key>secondSyllable</key>
		<string>жи</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>усы</key>
	<dict>
		<key>name</key>
		<string>усы</string>
		<key>image</key>
		<string>усы</string>
		<key>firstSyllable</key>
		<string>у</string>
		<key>secondSyllable</key>
		<string>сы</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>ухо</key>
	<dict>
		<key>name</key>
		<string>ухо</string>
		<key>image</key>
		<string>ухо</string>
		<key>firstSyllable</key>
		<string>у</string>
		<key>secondSyllable</key>
		<string>хо</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>фея</key>
	<dict>
		<key>name</key>
		<string>фея</string>
		<key>image</key>
		<string>фея</string>
		<key>firstSyllable</key>
		<string>фе</string>
		<key>secondSyllable</key>
		<string>я</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>юла</key>
	<dict>
		<key>name</key>
		<string>юла</string>
		<key>image</key>
		<string>юла</string>
		<key>firstSyllable</key>
		<string>ю</string>
		<key>secondSyllable</key>
		<string>ла</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>яма</key>
	<dict>
		<key>name</key>
		<string>яма</string>
		<key>image</key>
		<string>яма</string>
		<key>firstSyllable</key>
		<string>я</string>
		<key>secondSyllable</key>
		<string>ма</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
</dict>
</plist>
