<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>машина</key>
	<dict>
		<key>name</key>
		<string>машина</string>
		<key>image</key>
		<string>машина</string>
		<key>firstSyllable</key>
		<string>ма</string>
		<key>secondSyllable</key>
		<string>ши</string>
		<key>thirdSyllable</key>
		<string>на</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>баранки</key>
	<dict>
		<key>name</key>
		<string>баранки</string>
		<key>image</key>
		<string>баранки</string>
		<key>firstSyllable</key>
		<string>ба</string>
		<key>secondSyllable</key>
		<string>ран</string>
		<key>thirdSyllable</key>
		<string>ки</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>капуста</key>
	<dict>
		<key>name</key>
		<string>капуста</string>
		<key>image</key>
		<string>капуста</string>
		<key>firstSyllable</key>
		<string>ка</string>
		<key>secondSyllable</key>
		<string>пус</string>
		<key>thirdSyllable</key>
		<string>та</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>барабан</key>
	<dict>
		<key>name</key>
		<string>барабан</string>
		<key>image</key>
		<string>барабан</string>
		<key>firstSyllable</key>
		<string>ба</string>
		<key>secondSyllable</key>
		<string>ра</string>
		<key>thirdSyllable</key>
		<string>бан</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>малина</key>
	<dict>
		<key>name</key>
		<string>малина</string>
		<key>image</key>
		<string>малина</string>
		<key>firstSyllable</key>
		<string>ма</string>
		<key>secondSyllable</key>
		<string>ли</string>
		<key>thirdSyllable</key>
		<string>на</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>ананас</key>
	<dict>
		<key>name</key>
		<string>ананас</string>
		<key>image</key>
		<string>ананас</string>
		<key>firstSyllable</key>
		<string>а</string>
		<key>secondSyllable</key>
		<string>на</string>
		<key>thirdSyllable</key>
		<string>нас</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>кузнечик</key>
	<dict>
		<key>name</key>
		<string>кузнечик</string>
		<key>image</key>
		<string>кузнечик</string>
		<key>firstSyllable</key>
		<string>куз</string>
		<key>secondSyllable</key>
		<string>не</string>
		<key>thirdSyllable</key>
		<string>чик</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>автобус</key>
	<dict>
		<key>name</key>
		<string>автобус</string>
		<key>image</key>
		<string>автобус</string>
		<key>firstSyllable</key>
		<string>а</string>
		<key>secondSyllable</key>
		<string>вто</string>
		<key>thirdSyllable</key>
		<string>бус</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>молоток</key>
	<dict>
		<key>name</key>
		<string>молоток</string>
		<key>image</key>
		<string>молоток</string>
		<key>firstSyllable</key>
		<string>мо</string>
		<key>secondSyllable</key>
		<string>ло</string>
		<key>thirdSyllable</key>
		<string>ток</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
	<key>телёнок</key>
	<dict>
		<key>name</key>
		<string>телёнок</string>
		<key>image</key>
		<string>телёнок</string>
		<key>firstSyllable</key>
		<string>те</string>
		<key>secondSyllable</key>
		<string>лё</string>
		<key>thirdSyllable</key>
		<string>нок</string>
		<key>typeSound</key>
		<string>wav</string>
	</dict>
</dict>
</plist>
