<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>буква_А</string>
		<string>картинка_буквы_А</string>
		<string>акула</string>
		<string>транскрипция_А</string>
		<string>факт_акула</string>
	</array>
	<array>
		<string>буква_Б</string>
		<string>картинка_буквы_Б</string>
		<string>бегемот</string>
		<string>транскрипция_Б</string>
		<string>факт_бегемот</string>
	</array>
	<array>
		<string>буква_В</string>
		<string>картинка_буквы_В</string>
		<string>волк</string>
		<string>транскрипция_В</string>
		<string>факт_волк</string>
	</array>
	<array>
		<string>буква_Г</string>
		<string>картинка_буквы_Г</string>
		<string>гусь</string>
		<string>транскрипция_Г</string>
		<string>факт_гусь</string>
	</array>
	<array>
		<string>буква_Д</string>
		<string>картинка_буквы_Д</string>
		<string>дельфин</string>
		<string>транскрипция_Д</string>
		<string>факт_дельфин</string>
	</array>
	<array>
		<string>буква_Е</string>
		<string>картинка_буквы_Е</string>
		<string>енот</string>
		<string>транскрипция_Е</string>
		<string>факт_енот</string>
	</array>
	<array>
		<string>буква_Ё-1</string>
		<string>картинка_буквы_Ё-1</string>
		<string>ёж</string>
		<string>транскрипция_Ё-1</string>
		<string>факт_ёж</string>
	</array>
	<array>
		<string>буква_Ж</string>
		<string>картинка_буквы_Ж</string>
		<string>жираф</string>
		<string>транскрипция_Ж</string>
		<string>факт_жираф</string>
	</array>
	<array>
		<string>буква_З</string>
		<string>картинка_буквы_З</string>
		<string>заяц</string>
		<string>транскрипция_З</string>
		<string>факт_заяц</string>
	</array>
	<array>
		<string>буква_И-1</string>
		<string>картинка_буквы_И-1</string>
		<string>игуана</string>
		<string>транскрипция_И-1</string>
		<string>факт_игуана</string>
	</array>
	<array>
		<string>буква_Й</string>
		<string>картинка_буквы_Й</string>
		<string>чайка</string>
		<string>транскрипция_Й</string>
		<string>факт_чайка</string>
	</array>
	<array>
		<string>буква_К</string>
		<string>картинка_буквы_К</string>
		<string>кенгуру</string>
		<string>транскрипция_К</string>
		<string>факт_кенгуру</string>
	</array>
	<array>
		<string>буква_Л</string>
		<string>картинка_буквы_Л</string>
		<string>лось</string>
		<string>транскрипция_Л</string>
		<string>факт_лось</string>
	</array>
	<array>
		<string>буква_М</string>
		<string>картинка_буквы_М</string>
		<string>медведь</string>
		<string>транскрипция_М</string>
		<string>факт_медведь</string>
	</array>
	<array>
		<string>буква_Н</string>
		<string>картинка_буквы_Н</string>
		<string>носорог</string>
		<string>транскрипция_Н</string>
		<string>факт_носорог</string>
	</array>
	<array>
		<string>буква_О</string>
		<string>картинка_буквы_О</string>
		<string>олень</string>
		<string>транскрипция_О</string>
		<string>факт_олень</string>
	</array>
	<array>
		<string>буква_П</string>
		<string>картинка_буквы_П</string>
		<string>панда</string>
		<string>транскрипция_П</string>
		<string>факт_панда</string>
	</array>
	<array>
		<string>буква_Р</string>
		<string>картинка_буквы_Р</string>
		<string>рыба-меч</string>
		<string>транскрипция_Р</string>
		<string>факт_рыба-меч</string>
	</array>
	<array>
		<string>буква_С</string>
		<string>картинка_буквы_С</string>
		<string>страус</string>
		<string>транскрипция_С</string>
		<string>факт_страус</string>
	</array>
	<array>
		<string>буква_Т</string>
		<string>картинка_буквы_Т</string>
		<string>тукан</string>
		<string>транскрипция_Т</string>
		<string>факт_тукан</string>
	</array>
	<array>
		<string>буква_У</string>
		<string>картинка_буквы_У</string>
		<string>утка</string>
		<string>транскрипция_У</string>
		<string>факт_утка</string>
	</array>
	<array>
		<string>буква_Ф</string>
		<string>картинка_буквы_Ф</string>
		<string>филин</string>
		<string>транскрипция_Ф</string>
		<string>факт_филин</string>
	</array>
	<array>
		<string>буква_Х</string>
		<string>картинка_буквы_Х</string>
		<string>хомяк</string>
		<string>транскрипция_Х</string>
		<string>факт_хомяк</string>
	</array>
	<array>
		<string>буква_Ц</string>
		<string>картинка_буквы_Ц</string>
		<string>цапля</string>
		<string>транскрипция_Ц</string>
		<string>факт_цапля</string>
	</array>
	<array>
		<string>буква_Ч</string>
		<string>картинка_буквы_Ч</string>
		<string>черепаха</string>
		<string>транскрипция_Ч</string>
		<string>факт_черепаха</string>
	</array>
	<array>
		<string>буква_Ш</string>
		<string>картинка_буквы_Ш</string>
		<string>шиншилла</string>
		<string>транскрипция_Ш</string>
		<string>факт_шиншилла</string>
	</array>
	<array>
		<string>буква_Щ</string>
		<string>картинка_буквы_Щ</string>
		<string>щука</string>
		<string>транскрипция_Щ</string>
		<string>факт_щука</string>
	</array>
	<array>
		<string>буква_Ъ</string>
		<string>картинка_буквы_Ъ</string>
		<string>неизвестный</string>
		<string>транскрипция_Ъ</string>
		<string>факт_неизвестный</string>
	</array>
	<array>
		<string>буква_Ы</string>
		<string>картинка_буквы_Ы</string>
		<string>рысь</string>
		<string>транскрипция_Ы</string>
		<string>факт_рысь</string>
	</array>
	<array>
		<string>буква_Ь</string>
		<string>картинка_буквы_Ь</string>
		<string>голубь</string>
		<string>транскрипция_Ь</string>
		<string>факт_голубь</string>
	</array>
	<array>
		<string>буква_Э</string>
		<string>картинка_буквы_Э</string>
		<string>электрический-угорь</string>
		<string>транскрипция_Э</string>
		<string>факт_электрический-угорь</string>
	</array>
	<array>
		<string>буква_Ю</string>
		<string>картинка_буквы_Ю</string>
		<string>юруми</string>
		<string>транскрипция_Ю</string>
		<string>факт_юруми</string>
	</array>
	<array>
		<string>буква_Я</string>
		<string>картинка_буквы_Я</string>
		<string>ягуар</string>
		<string>транскрипция_Я</string>
		<string>факт_ягуар</string>
	</array>
</array>
</plist>
